{% extends 'paginas/modelo.html' %}

 {% block titulo %}
<title>Sobre</title>
 {% endblock %}

{% block conteudo %}
<div class="px-4 py-5 my-5 text-center">
 <h1 class="display-5 fw-bold">Sobre</h1>

 <p>O POEU é um portal de oportunidades de estágio para alunos da Univesp.</p>
 <p>
  Os alunos do Eixo da Computação desenvolveram este portal como parte do Projeto Integrador da Univesp usando o DJANGO framework.
 </p>

 <p>Por favor nos ajude a comunicar oportunidades em Vinhedo e Região para todos os alunos da Univesp incluindo os cursos dos Eixos de Licenciatura e Negócios, além do Eixo da Computação.</p>
 <p>Qualquer dúvida, entre em contato!</p>

</div>

{% endblock %}


